
$phoenix-color: #d83b00;
$dev-color: #0db7cd;

.mh-75{
  min-height:75px;
}

.headline{
  color: $phoenix-color;
  font-weight:700;
}

.dev-text{
  color: $dev-color;
  font-weight: 600;
}

.phoenix-orange{
  background-color: $phoenix-color;
}

.phoenix-blue{
  background-color: $dev-color;
}

.nav-gray{
  background-color: #f5f5f5 !important;
}

.v-item--active .phoenix-blue{
  background-color: $phoenix-color;
}

.clickable{
  cursor: pointer;
}

// ALERTS
.v-alert div{
  font-family: 'Roboto', sans-serif;
  color: black;
}



// ANIMATIONS
.before-enter{
  visibility: hidden !important;
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}


// BLOG
/* Alignments */

@media(min-width: 900px){
  img.alignleft, .wp-caption.alignleft {
    margin: 5px 20px 5px 0;
    display: inline-block;
    float: left;
  }

  img.aligncenter, .wp-caption.aligncenter {
    margin: 0 auto 24px;
    display: block;
    clear: both;
  }

  img.alignright, .wp-caption.alignright {
    margin: 5px 0 5px 20px;
    display: inline-block;
    float: right;
  }

  img.alignnone, .wp-caption.alignnone {
    display: inline-block;
    margin: 0 0 20px 0;
    clear: both;
  }

}
